html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

:root {
  --grey: #5c5c5e;
  --white: #f6f4f5;
  --light-grey: #cacad6;
  --black: #070707;
}

.header {
  border-bottom: 1px solid var(--light-grey);
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 80px;
}
@media (max-width: 576px) {
  .nav {
    grid-template-columns: 1fr 2fr 1fr;
  }
}
.nav__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .nav__menu-list {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 70vw;
    padding: 80px 0;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    color: var(--white);
    background-color: var(--black);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }
  .nav__menu-list--active {
    transform: translateX(0);
  }
}
@media (max-width: 430px) {
  .nav__menu-list {
    width: 100vw;
  }
}
.nav__menu-link {
  transition: color 0.3s ease-in-out;
}
@media (hover: hover) {
  .nav__menu-link:hover {
    color: var(--black);
  }
}
@media (hover: none) {
  .nav__menu-link:active {
    color: var(--black);
  }
}
@media (max-width: 768px) {
  .nav__menu-link {
    font-size: 24px;
    padding-block: 10px;
  }
}
@media (max-width: 768px) and (hover: hover) {
  .nav__menu-link:hover {
    color: var(--light-grey);
  }
}
@media (max-width: 768px) and (hover: none) {
  .nav__menu-link:active {
    color: var(--light-grey);
  }
}
.nav__logo {
  justify-self: center;
}
.nav__cart {
  position: relative;
  justify-self: end;
}
.nav__cart--on span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 0;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 0;
  right: -2px;
  color: var(--white);
  background-color: var(--black);
  border-radius: 50%;
}

.mobile-menu {
  display: none;
  width: 36px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .mobile-menu {
    display: flex;
  }
}
.mobile-menu span {
  height: 2px;
  width: 100%;
  background-color: var(--black);
}

.hero {
  min-height: calc(100vh - 81px);
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media (max-width: 576px) {
  .hero {
    text-align: center;
  }
}
.hero__body {
  padding-top: 16%;
}
.hero__title {
  font-size: clamp(60px, 7.868852459vw, 96px);
  margin-bottom: 10px;
  font-weight: 400;
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 54px;
  }
}
@media (max-width: 430px) {
  .hero__title {
    font-size: 48px;
  }
}
.hero__subtitle {
  font-size: clamp(26px, 2.9508196721vw, 36px);
  margin-bottom: 5px;
}
@media (max-width: 576px) {
  .hero__subtitle {
    font-size: 20px;
  }
}
.hero__descr {
  font-size: 13px;
  margin-bottom: 50px;
}

.buy-button {
  display: flex;
  padding: 0px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(14px, 1.3114754098vw, 16px);
  border: 1px solid;
  -o-border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
     border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  border-image-slice: 1;
  background-color: transparent;
}
@media (max-width: 576px) {
  .buy-button {
    flex-direction: column;
    margin-inline: auto;
  }
}
.buy-button__text {
  color: var(--white);
  padding: 20px 111px;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
}
@media (max-width: 768px) {
  .buy-button__text {
    padding-inline: 88px;
  }
}
@media (max-width: 576px) {
  .buy-button__text {
    padding-block: 12px;
  }
}
.buy-button__price {
  padding: 20px 106px;
  color: var(--grey);
}
@media (max-width: 768px) {
  .buy-button__price {
    padding-inline: 81px;
  }
}
@media (max-width: 576px) {
  .buy-button__price {
    padding-block: 12px;
  }
}

.buy__text {
  padding-top: 10px;
  font-size: 13px;
}

.features__header {
  display: flex;
}
.features__title {
  flex-basis: 300px;
  padding-right: 20px;
}
.features__subtitle {
  font-size: clamp(26px, 2.9508196721vw, 36px);
  margin-bottom: 20px;
  max-width: 330px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 576px) {
  .features__subtitle {
    font-size: 20px;
  }
}

.tabs {
  display: grid;
  grid-template-columns: 300px auto;
}
@media (max-width: 1024px) {
  .tabs {
    display: block;
  }
}
.tabs__button {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .tabs__button {
    display: block;
    -moz-column-count: 2;
         column-count: 2;
    margin-bottom: 10px;
  }
}
@media (max-width: 430px) {
  .tabs__button {
    -moz-column-count: 1;
         column-count: 1;
  }
}
.tabs__button-item {
  font-weight: 700;
}
@media (max-width: 1024px) {
  .tabs__button-item {
    display: block;
    margin-bottom: 5px;
  }
}
@media (hover: hover) {
  .tabs__button-item:hover {
    color: var(--black);
  }
}
@media (hover: none) {
  .tabs__button-item:active {
    color: var(--black);
  }
}
.tabs__button-item--active {
  color: var(--black);
}
.tabs__content {
  position: relative;
  min-height: 300px;
}
.tabs__content-item {
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: auto 150px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 20px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}
@media (max-width: 576px) {
  .tabs__content-item {
    display: flex;
    flex-direction: column;
    height: 0;
    position: relative;
  }
}
.tabs__content-item--active {
  height: auto;
  opacity: 1;
}
.tabs__content-image {
  grid-row: 1/-1;
  -o-object-fit: cover;
     object-fit: cover;
}
.tabs__content-box {
  line-height: 1.2;
}
.tabs__content-box h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.tabs__video {
  grid-column: 2/3;
  width: 280px;
  height: 150px;
  background-image: url(../images/features-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 9px 10px;
}
@media (max-width: 576px) {
  .tabs__video {
    width: auto;
    height: 220px;
  }
}
.tabs__video-button {
  margin-left: 22px;
}
.tabs__video span {
  font-size: 13px;
  color: var(--white);
}

.games__header {
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .games__header {
    margin-bottom: 25px;
  }
}
.games__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1024px) {
  .games__body {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .games__body {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
}
.games__descr {
  padding-right: 10px;
}
.games__descr-subtitle {
  font-size: clamp(26px, 2.9508196721vw, 36px);
  line-height: 1.2;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}
.games__descr-text {
  margin-bottom: 30px;
}
.games__descr-link {
  display: inline-block;
  padding: 16px 47px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out, background-color 0.3s linear;
  border: 1px solid;
  -o-border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
     border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  border-image-slice: 1;
  background-color: transparent;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (hover: hover) {
  .games__descr-link:hover {
    -webkit-text-fill-color: var(--white);
    background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  }
}
@media (hover: none) {
  .games__descr-link:active {
    -webkit-text-fill-color: var(--white);
    background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  }
}
.games__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px 16px;
  border: 1px solid;
  -o-border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
     border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  border-image-slice: 1;
  background-color: transparent;
}
.games__item-image {
  align-self: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.games__item-title {
  color: var(--black);
  font-size: clamp(20px, 1.9672131148vw, 24px);
  font-weight: 400;
}
.games__item-descr {
  margin-bottom: 20px;
}
.games__item-link {
  margin-top: auto;
  text-transform: lowercase;
  transition: color 0.3s ease-in-out;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (hover: hover) {
  .games__item-link:hover {
    opacity: 0.75;
  }
}
@media (hover: none) {
  .games__item-link:active {
    opacity: 0.75;
  }
}

.buy {
  position: relative;
  text-align: center;
  overflow-x: hidden;
}
.buy__bg {
  font-size: clamp(360px, 32.7868852459vw, 400px);
  position: absolute;
  z-index: -1;
  font-weight: 700;
  line-height: 1;
  opacity: 0.1;
  text-transform: uppercase;
  left: 50%;
  bottom: 62px;
  transform: translateX(-50%);
  animation: line-text 6s linear infinite;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buy__container {
  text-align: center;
}
.buy__image {
  display: inline-block;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .buy__image {
    width: 320px;
    height: 310px;
  }
}
.buy .buy-button {
  margin-inline: auto;
}

@keyframes line-text {
  0% {
    transform: translateX(130%);
    transform-origin: left center;
  }
  100% {
    transform: translateX(-200%);
    transform-origin: right center;
  }
}
.equipment__header {
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .equipment__header {
    margin-bottom: 25px;
  }
}
.equipment__body {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
}
@media (max-width: 1024px) {
  .equipment__body {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .equipment__body {
    display: flex;
    flex-direction: column;
  }
}
.equipment__body-item--one {
  grid-row: 1/-1;
}
@media (max-width: 576px) {
  .equipment__body-item--order {
    order: -1;
  }
}
.equipment__body-image {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .equipment__body-image {
    width: 100%;
  }
}
.equipment__body-subtitle {
  font-size: clamp(26px, 2.9508196721vw, 36px);
  font-weight: 400;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.promo__body {
  min-height: 500px;
  background-image: url("../images/promo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative;
}
@media (max-width: 768px) {
  .promo__body {
    min-height: 300px;
  }
}
.promo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  left: 50%;
  transform: translateX(-50%);
  bottom: 80px;
  transition: transform 0.3s ease-in-out;
}
@media (hover: hover) {
  .promo__button:hover {
    transform: scale(1.1) translateX(-50%);
  }
}
@media (hover: none) {
  .promo__button:active {
    transform: scale(1.1) translateX(-50%);
  }
}

.accessories__header {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .accessories__header {
    margin-bottom: 25px;
  }
}
.accessories__title {
  font-size: 16px;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .accessories__title {
    margin-bottom: 25px;
  }
}
.accessories__subtitle {
  font-size: clamp(26px, 2.9508196721vw, 36px);
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.accessories__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1024px) {
  .accessories__body {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .accessories__body {
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

.accessories-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  -o-border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
     border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  border-image-slice: 1;
  background-color: transparent;
}
.accessories-card__header {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 42px;
}
.accessories-card__image {
  align-self: center;
}
.accessories-card__name {
  font-weight: 400;
  font-size: clamp(20px, 1.9672131148vw, 24px);
  color: var(--black);
  margin-bottom: 10px;
  min-height: 58px;
}
.accessories-card__descr {
  margin-top: auto;
}
.accessories-card__body {
  margin-top: auto;
}
.accessories-card__price {
  font-weight: 700;
  color: var(--black);
  margin-bottom: 20px;
}
.accessories-card__button {
  width: 100%;
  text-align: center;
  padding: 6px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out, background-color 0.3s linear;
  border: 1px solid;
  -o-border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
     border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  border-image-slice: 1;
  background-color: transparent;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (hover: hover) {
  .accessories-card__button:hover {
    -webkit-text-fill-color: var(--white);
    background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  }
}
@media (hover: none) {
  .accessories-card__button:active {
    -webkit-text-fill-color: var(--white);
    background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  }
}

.subscription__header {
  margin-bottom: 10px;
}
.subscription__title {
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
}
.subscription__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 60px;
}
@media (max-width: 768px) {
  .subscription__body {
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }
}
.subscription__form {
  flex-basis: 600px;
}
@media (max-width: 768px) {
  .subscription__form {
    flex-basis: auto;
  }
}
.subscription__policy {
  font-size: 13px;
}
.subscription__email {
  transition: color 0.3s ease-in-out;
}
@media (hover: hover) {
  .subscription__email:hover {
    color: var(--black);
  }
}
@media (hover: none) {
  .subscription__email:active {
    color: var(--black);
  }
}

.subscribe-form {
  margin-bottom: 10px;
  position: relative;
}
.subscribe-form__input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--light-grey);
  padding: 22px 60px 22px 0;
  font-size: 16px;
}
.subscribe-form__input::-moz-placeholder {
  font-family: "Helvetica", sans-serif;
  font-weight: 400px;
  font-size: 13px;
}
.subscribe-form__input::placeholder {
  font-family: "Helvetica", sans-serif;
  font-weight: 400px;
  font-size: 13px;
}
.subscribe-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  aspect-ratio: 1;
  font-weight: 700;
  border-radius: 50%;
  background-color: var(--light-grey);
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 5px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
@media (hover: hover) {
  .subscribe-form__button:hover {
    color: var(--white);
    background-color: var(--grey);
  }
}
@media (hover: none) {
  .subscribe-form__button:active {
    color: var(--white);
    background-color: var(--grey);
  }
}

.footer {
  margin-top: 100px;
  margin-bottom: 44px;
  padding: 30px 0;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
}
@media (max-width: 1024px) {
  .footer {
    margin-top: 80px;
  }
}
@media (max-width: 768px) {
  .footer {
    margin-top: 60px;
    margin-bottom: 24px;
  }
}
@media (max-width: 576px) {
  .footer {
    margin-top: 40px;
  }
}
.footer .nav {
  height: auto;
}
@media (max-width: 1140px) {
  .footer .nav {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
}
@media (max-width: 430px) {
  .footer .nav {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 430px) {
  .footer .soc1als-list {
    order: -1;
  }
}

@media (max-width: 1140px) {
  .footer__menu-list {
    display: none;
  }
}
.soc1als-list {
  display: flex;
  justify-self: end;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.soc1als-link {
  transition: color 0.3s ease-in-out;
}
@media (hover: hover) {
  .soc1als-link:hover {
    color: var(--black);
  }
}
@media (hover: none) {
  .soc1als-link:active {
    color: var(--black);
  }
}

@font-face {
  font-family: "Helvetica", sans-serif;
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica-Bold", sans-serif;
  src: url(../fonts/helvetica-bold.woff2);
  font-style: normal;
  font-weight: 700;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--grey);
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.section__container {
  padding-top: 100px;
}
@media (max-width: 1024px) {
  .section__container {
    padding-top: 80px;
  }
}
@media (max-width: 768px) {
  .section__container {
    padding-top: 60px;
  }
}
@media (max-width: 576px) {
  .section__container {
    padding-top: 40px;
  }
}

.section-title {
  font-weight: 400;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}/*# sourceMappingURL=style.css.map */